In [1]:
import pandas as pd
import numpy as np

In [11]:
T090NR = pd.read_excel("T090NR.xlsx")
T090NR.head()

,AFARSL,AFATYP,AFAMET,XLIFEC,XENDAU,XUNTNL,XEFDAU,Name of Base Method
0,0001,N,A,NaN,NaN,NaN,NaN,Ordinary: sum-of-the-years-digits
1,0002,N,N,NaN,NaN,NaN,NaN,Ordinary: no automatic depreciation
2,0003,N,L,NaN,NaN,NaN,NaN,Ordinary: leasing
3,0004,N,J,NaN,X,NaN,NaN,Ordinary: decl.-balance over total life (Ja...
4,0005,N,D,X,NaN,NaN,NaN,Ordinary: percentage from useful life (reduction)

In [12]:
T090NR.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   AFARSL               59 non-null     object
 1   AFATYP               59 non-null     object
 2   AFAMET               59 non-null     object
 3   XLIFEC               5 non-null      object
 4   XENDAU               37 non-null     object
 5   XUNTNL               7 non-null      object
 6   XEFDAU               1 non-null      object
 7   Name of Base Method  56 non-null     object
dtypes: object(8)
memory usage: 3.8+ KB

In [13]:
T090NR.isna().sum()

AFARSL                  0
AFATYP                  0
AFAMET                  0
XLIFEC                 54
XENDAU                 22
XUNTNL                 52
XEFDAU                 58
Name of Base Method     3
dtype: int64

In [14]:
T090NR.columns

Index(['AFARSL', 'AFATYP', 'AFAMET', 'XLIFEC', 'XENDAU', 'XUNTNL', 'XEFDAU',
       'Name of Base Method'],
      dtype='object')

In [15]:
T090NR = T090NR.rename(columns=lambda x : x.strip())

In [16]:
T090NR.columns

Index(['AFARSL', 'AFATYP', 'AFAMET', 'XLIFEC', 'XENDAU', 'XUNTNL', 'XEFDAU',
       'Name of Base Method'],
      dtype='object')

In [19]:
T090NR = T090NR[T090NR['Name of Base Method'].str.contains('(after end of life)', na=False)]

C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_8608\2374521407.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  T090NR = T090NR[T090NR['Name of Base Method'].str.contains('(after end of life)', na=False)]

In [20]:
T090NR

,AFARSL,AFATYP,AFAMET,XLIFEC,XENDAU,XUNTNL,XEFDAU,Name of Base Method
6,0007,N,D,NaN,X,NaN,NaN,Ordinary: percentage from life (after end of l...
13,0014,N,P,NaN,X,NaN,NaN,Ordinary: explicit percentage (after end of life)
16,0017,N,V,X,X,NaN,NaN,Ordinary: immediate deprec. (after end of life)
18,0019,N,S,NaN,X,NaN,NaN,Ordinary: Unit-of-production (after end of life)
21,0022,S,G,NaN,X,NaN,NaN,Special: total percentage (after end of life)
24,0025,S,P,NaN,X,NaN,NaN,Special: explicit percentage (after end of life)
26,0027,S,V,NaN,X,NaN,NaN,Special: immediate deprec. (after end of life)
29,0030,Z,P,NaN,X,NaN,NaN,Interest: explicit percentage (after end of life)

In [23]:
T090NR['Exception'] = T090NR['XENDAU'].apply(lambda x:1 if x=='X' else 0)

C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_8608\2200433778.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  T090NR['Exception'] = T090NR['XENDAU'].apply(lambda x:1 if x=='X' else 0)

In [24]:
T090NR

,AFARSL,AFATYP,AFAMET,XLIFEC,XENDAU,XUNTNL,XEFDAU,Name of Base Method,Exception
6,0007,N,D,NaN,X,NaN,NaN,Ordinary: percentage from life (after end of l...,1
13,0014,N,P,NaN,X,NaN,NaN,Ordinary: explicit percentage (after end of life),1
16,0017,N,V,X,X,NaN,NaN,Ordinary: immediate deprec. (after end of life),1
18,0019,N,S,NaN,X,NaN,NaN,Ordinary: Unit-of-production (after end of life),1
21,0022,S,G,NaN,X,NaN,NaN,Special: total percentage (after end of life),1
24,0025,S,P,NaN,X,NaN,NaN,Special: explicit percentage (after end of life),1
26,0027,S,V,NaN,X,NaN,NaN,Special: immediate deprec. (after end of life),1
29,0030,Z,P,NaN,X,NaN,NaN,Interest: explicit percentage (after end of life),1

In [26]:
T090NR.to_csv("EDA17_new.csv", index=False)