In [21]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_excel("Script 1 - New\T160D.xlsx")

<>:1: SyntaxWarning: invalid escape sequence '\T'
<>:1: SyntaxWarning: invalid escape sequence '\T'
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_4740\3417555063.py:1: SyntaxWarning: invalid escape sequence '\T'
  df = pd.read_excel("Script 1 - New\T160D.xlsx")

In [14]:
df.head()

,EFUBU,EPRSA,EPRSZ,EOHNM,ERFBL,ERFAN,ERFAG,ERFKA,ERFKM,ERFKW,...,EBZIN,EBZOM,ERES1,ERES2,ERES3,EUEB1,BREFN,EBPUEB,FBREFN,Description
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Restrict PO without RFQ/Q

In [15]:
list(df.columns)

['EFUBU',
 'EPRSA',
 'EPRSZ',
 'EOHNM',
 'ERFBL',
 'ERFAN',
 'ERFAG',
 'ERFKA',
 'ERFKM',
 'ERFKW',
 'ERFBA',
 'ERFB1',
 'ERFB2',
 'ERFIN',
 'EMANU',
 'EBZKA',
 'EBZKM',
 'EBZKW',
 'EBZIN',
 'EBZOM',
 'ERES1',
 'ERES2',
 'ERES3',
 'EUEB1',
 'BREFN',
 'EBPUEB',
 'FBREFN',
 'Description']

In [16]:
df.rename(columns=lambda x : x.strip(), inplace=True)

In [17]:
list(df.columns)

['EFUBU',
 'EPRSA',
 'EPRSZ',
 'EOHNM',
 'ERFBL',
 'ERFAN',
 'ERFAG',
 'ERFKA',
 'ERFKM',
 'ERFKW',
 'ERFBA',
 'ERFB1',
 'ERFB2',
 'ERFIN',
 'EMANU',
 'EBZKA',
 'EBZKM',
 'EBZKW',
 'EBZIN',
 'EBZOM',
 'ERES1',
 'ERES2',
 'ERES3',
 'EUEB1',
 'BREFN',
 'EBPUEB',
 'FBREFN',
 'Description']

In [25]:
df['ERFBA']

0   NaN
Name: ERFBA, dtype: float64

In [27]:
filtered_df = df[df['ERFBA'].isna()]

In [28]:
filtered_df.head()

,EFUBU,EPRSA,EPRSZ,EOHNM,ERFBL,ERFAN,ERFAG,ERFKA,ERFKM,ERFKW,...,EBZIN,EBZOM,ERES1,ERES2,ERES3,EUEB1,BREFN,EBPUEB,FBREFN,Description
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Restrict PO without RFQ/Q

In [30]:
filtered_df.to_csv("EDA1_new.csv", index=False)