In [29]:
import pandas as pd
import numpy as np

In [30]:
T090NAZ = pd.read_excel("T090NAZ.xlsx")
T090NAZ.head()

,AFAPL,AFASL,AFATYP,PHASE,AFARSL,METDEG,METPER,METSTU,METHBT,UMSTM,UMRPRZ,MSFAKR,SCHROTT,XSTILL,AFACLA
0,0AR,0000,N,1,0002,001,001,001,NaN,NaN,0.0,NaN,0,NaN,0.0
1,0AT,0000,N,1,0002,001,001,001,NaN,NaN,0.0,NaN,0,NaN,0.0
2,0AU,0000,N,1,0002,001,001,001,NaN,NaN,0.0,NaN,0,NaN,0.0
3,0BE,0000,N,1,0002,001,001,001,NaN,NaN,0.0,NaN,0,NaN,0.0
4,0BR,0000,N,1,0002,001,001,001,NaN,NaN,0.0,NaN,0,NaN,0.0

In [31]:
T090NAZ.isna().sum()

AFAPL         0
AFASL         0
AFATYP        0
PHASE         0
AFARSL        0
METDEG       43
METPER        0
METSTU        0
METHBT     2280
UMSTM      1377
UMRPRZ        0
MSFAKR     1816
SCHROTT       0
XSTILL     2174
AFACLA        3
dtype: int64

In [32]:
T090NAZ.columns

Index(['AFAPL', 'AFASL', 'AFATYP', 'PHASE', 'AFARSL', 'METDEG', 'METPER',
       'METSTU', 'METHBT', 'UMSTM', 'UMRPRZ', 'MSFAKR', 'SCHROTT', 'XSTILL',
       'AFACLA'],
      dtype='object')

In [33]:
T090NAZ = T090NAZ.rename(columns=lambda x: x.strip())

In [34]:
T090NAZ.columns

Index(['AFAPL', 'AFASL', 'AFATYP', 'PHASE', 'AFARSL', 'METDEG', 'METPER',
       'METSTU', 'METHBT', 'UMSTM', 'UMRPRZ', 'MSFAKR', 'SCHROTT', 'XSTILL',
       'AFACLA'],
      dtype='object')

In [35]:
T090NAZ = T090NAZ[T090NAZ['MSFAKR'] == 2]

In [36]:
T090NAZ = T090NAZ[T090NAZ['AFAPL'] == '1000']

In [39]:
T090NAZ.to_csv("EDA17.2_new_result.csv",index=False)