In [1]:
import pandas as pd
import numpy as np

In [67]:
V_TBAER = pd.read_excel("Script 13\V_TBAER.xlsx")
V_TBAER.head()

<>:1: SyntaxWarning: invalid escape sequence '\V'
<>:1: SyntaxWarning: invalid escape sequence '\V'
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_11124\1423950030.py:1: SyntaxWarning: invalid escape sequence '\V'
  V_TBAER = pd.read_excel("Script 13\V_TBAER.xlsx")

  KOART UMSKS          FNAME  BUKRS XAEND XAUSZ XBUPE  XDSKH XRECH XANZG
0   NaN   NaN     BKPF-BKTXT    NaN     X   NaN   NaN    NaN   NaN   NaN
1   NaN   NaN     BKPF-XBLNR    NaN     X   NaN   NaN    NaN   NaN   NaN
2   NaN   NaN  BKPF-XREF1_HD    NaN     X   NaN   NaN    NaN   NaN   NaN
3     A   NaN     BSEG-SGTXT    NaN     X   NaN   NaN    NaN   NaN   NaN
4     A   NaN     BSEG-ZUONR    NaN     X   NaN   NaN    NaN   NaN   NaN

In [68]:
V_TBAER.columns

Index(['KOART', 'UMSKS', 'FNAME', 'BUKRS', 'XAEND', 'XAUSZ', 'XBUPE', 'XDSKH',
       'XRECH', 'XANZG'],
      dtype='object')

In [69]:
V_TBAER = V_TBAER.rename(columns=lambda x : x.strip())

In [70]:
V_TBAER.columns

Index(['KOART', 'UMSKS', 'FNAME', 'BUKRS', 'XAEND', 'XAUSZ', 'XBUPE', 'XDSKH',
       'XRECH', 'XANZG'],
      dtype='object')

In [71]:
V_TBAER.isna().sum()

KOART      3
UMSKS    115
FNAME      0
BUKRS    170
XAEND      2
XAUSZ     33
XBUPE    169
XDSKH    170
XRECH    152
XANZG    153
dtype: int64

In [72]:
V_TBAER['KOART'].fillna('', inplace=True)
V_TBAER['UMSKS'].fillna('', inplace=True)
V_TBAER['FNAME'].fillna('', inplace=True)

C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_11124\9986119.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  V_TBAER['KOART'].fillna('', inplace=True)
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_11124\9986119.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  V_TBAER['UMSKS'].fillna('', inplace=True)
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_11124\9986119.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  V_TBAER['FNAME'].fillna('', inplace=True)

In [73]:
V_TBAER['concated_column'] = V_TBAER['KOART'] + V_TBAER['UMSKS'] + V_TBAER['FNAME']

In [74]:
V_TBAER

,KOART,UMSKS,FNAME,BUKRS,XAEND,XAUSZ,XBUPE,XDSKH,XRECH,XANZG,concated_column
0,,,BKPF-BKTXT,NaN,X,NaN,NaN,NaN,NaN,NaN,BKPF-BKTXT
1,,,BKPF-XBLNR,NaN,X,NaN,NaN,NaN,NaN,NaN,BKPF-XBLNR
2,,,BKPF-XREF1_HD,NaN,X,NaN,NaN,NaN,NaN,NaN,BKPF-XREF1_HD
3,A,,BSEG-SGTXT,NaN,X,NaN,NaN,NaN,NaN,NaN,ABSEG-SGTXT
4,A,,BSEG-ZUONR,NaN,X,NaN,NaN,NaN,NaN,NaN,ABSEG-ZUONR
...,...,...,...,...,...,...,...,...,...,...,...
165,S,,BSEG-VALUT,NaN,X,NaN,NaN,NaN,NaN,NaN,SBSEG-VALUT
166,S,,BSEG-ZFBDT,NaN,X,NaN,NaN,NaN,NaN,NaN,SBSEG-ZFBDT
167,S,,BSEG-ZUONR,NaN,X,NaN,NaN,NaN,NaN,NaN,SBSEG-ZUONR
168,S,,BSEZ-EGMLD,NaN,X,NaN,NaN,NaN,NaN,NaN,SBSEZ-EGMLD
169,S,,KNA1-KUNNR,NaN,X,NaN,NaN,NaN,NaN,NaN,SKNA1-KUNNR

In [75]:
RowsToBeFiltered = ["BKPF-BKTXT" , "BKPF-XBLNR" ,  "ABSEG-ZUONR" , "DBSEG-ZUONR" , "DABSEG-ZUONR" , "DWBSEG-ZUONR" , "KBSEG-ZUONR" , "KABSEG-ZUONR" , "KWBSEG-ZUONR" , "SBSEG-ZUONR"]
FilterInConcateField = V_TBAER[V_TBAER['concated_column'].isin(RowsToBeFiltered)]

In [76]:
FilterInConcateField

,KOART,UMSKS,FNAME,BUKRS,XAEND,XAUSZ,XBUPE,XDSKH,XRECH,XANZG,concated_column
0,,,BKPF-BKTXT,NaN,X,NaN,NaN,NaN,NaN,NaN,BKPF-BKTXT
1,,,BKPF-XBLNR,NaN,X,NaN,NaN,NaN,NaN,NaN,BKPF-XBLNR
4,A,,BSEG-ZUONR,NaN,X,NaN,NaN,NaN,NaN,NaN,ABSEG-ZUONR
54,D,,BSEG-ZUONR,NaN,X,NaN,NaN,NaN,NaN,NaN,DBSEG-ZUONR
79,D,A,BSEG-ZUONR,NaN,X,NaN,NaN,NaN,NaN,NaN,DABSEG-ZUONR
82,D,W,BSEG-ZUONR,NaN,X,NaN,NaN,NaN,NaN,NaN,DWBSEG-ZUONR
136,K,,BSEG-ZUONR,NaN,X,NaN,NaN,NaN,NaN,NaN,KBSEG-ZUONR
159,K,A,BSEG-ZUONR,NaN,X,NaN,NaN,NaN,NaN,NaN,KABSEG-ZUONR
162,K,W,BSEG-ZUONR,NaN,X,NaN,NaN,NaN,NaN,NaN,KWBSEG-ZUONR
167,S,,BSEG-ZUONR,NaN,X,NaN,NaN,NaN,NaN,NaN,SBSEG-ZUONR

In [61]:
FilterInConcateField['XAEND'].unique()

array(['X'], dtype=object)

In [62]:
FilterInConcateField['XAEND'].fillna('', inplace=True)

C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_11124\1937529041.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  FilterInConcateField['XAEND'].fillna('', inplace=True)
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_11124\1937529041.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  FilterInConcateField['XAEND'].fillna('', inplace=True)

In [63]:
FilterInConcateField = FilterInConcateField[FilterInConcateField['XAEND'] == '']

In [66]:
FilterInConcateField.to_csv("EDA13_new.csv", index=False)

AttributeError: 'numpy.int64' object has no attribute 'to_csv'

In [64]:
FilterInConcateField = FilterInConcateField['XAEND'].isna().sum()

In [65]:
FilterInConcateField

np.int64(0)

In [ ]:
FilterInConcateField